.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  margin-right: 10px;
}

._btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btnText:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.filterDropdown {
  position: relative;
}

.dropdownList {
  position: absolute;
  width: 248px;
  height: 305;
  background: #313131;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 34px;

  top: 30px;
  /* left: -160px; */
  right: -80px;
}

.active {
  color: #9A48F1;
  border-color: #9A48F1;
}
