/* .styledProgressInput {
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  background: #2e2e2e;
}

.styledProgressInput::-webkit-slider-runnable-track {
  background: #b672ff;
  height: 5px;
}

.styledProgressInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 34px;
  width: 34px;
  background-color: #fff;
  opacity: 10%;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.styledProgressInput::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #b672ff;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
} */

.progressBar {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
}

.progressThumb {
  position: absolute;
  width: 34px;
  height: 34px;
  background: #fff;
  opacity: 10%;
  border-radius: 50%;
  bottom: 58px;
  left: 50%;
}

.progressTrackBefore {
  height: 5px;
  background: #b672ff;
  width: 50%;
}